@mixin operatorOrigin {
	background-image: url(./operatorImgOrigin.png);
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
}
.char_002_amiya {
	background-position: 0px 0px;
}
.char_003_kalts {
	background-position: -90px 0px;
}
.char_009_12fce {
	background-position: -180px 0px;
}
.char_010_chen {
	background-position: -270px 0px;
}
.char_017_huang {
	background-position: -360px 0px;
}
.char_1011_lava2 {
	background-position: -450px 0px;
}
.char_1012_skadi2 {
	background-position: -540px 0px;
}
.char_1013_chen2 {
	background-position: -630px 0px;
}
.char_101_sora {
	background-position: -720px 0px;
}
.char_102_texas {
	background-position: -810px 0px;
}
.char_103_angel {
	background-position: -900px 0px;
}
.char_106_franka {
	background-position: -990px 0px;
}
.char_107_liskam {
	background-position: -1080px 0px;
}
.char_108_silent {
	background-position: -1170px 0px;
}
.char_109_fmout {
	background-position: -1260px 0px;
}
.char_110_deepcl {
	background-position: 0px -90px;
}
.char_112_siege {
	background-position: -90px -90px;
}
.char_113_cqbw {
	background-position: -180px -90px;
}
.char_115_headbr {
	background-position: -270px -90px;
}
.char_117_myrrh {
	background-position: -360px -90px;
}
.char_118_yuki {
	background-position: -450px -90px;
}
.char_120_hibisc {
	background-position: -540px -90px;
}
.char_121_lava {
	background-position: -630px -90px;
}
.char_122_beagle {
	background-position: -720px -90px;
}
.char_123_fang {
	background-position: -810px -90px;
}
.char_124_kroos {
	background-position: -900px -90px;
}
.char_126_shotst {
	background-position: -990px -90px;
}
.char_127_estell {
	background-position: -1080px -90px;
}
.char_128_plosis {
	background-position: -1170px -90px;
}
.char_129_bluep {
	background-position: -1260px -90px;
}
.char_130_doberm {
	background-position: 0px -180px;
}
.char_131_flameb {
	background-position: -90px -180px;
}
.char_133_mm {
	background-position: -180px -180px;
}
.char_134_ifrit {
	background-position: -270px -180px;
}
.char_136_hsguma {
	background-position: -360px -180px;
}
.char_137_brownb {
	background-position: -450px -180px;
}
.char_140_whitew {
	background-position: -540px -180px;
}
.char_141_nights {
	background-position: -630px -180px;
}
.char_143_ghost {
	background-position: -720px -180px;
}
.char_144_red {
	background-position: -810px -180px;
}
.char_145_prove {
	background-position: -900px -180px;
}
.char_147_shining {
	background-position: -990px -180px;
}
.char_148_nearl {
	background-position: -1080px -180px;
}
.char_149_scave {
	background-position: -1170px -180px;
}
.char_150_snakek {
	background-position: -1260px -180px;
}
.char_151_myrtle {
	background-position: 0px -270px;
}
.char_155_tiger {
	background-position: -90px -270px;
}
.char_158_milu {
	background-position: -180px -270px;
}
.char_159_peacok {
	background-position: -270px -270px;
}
.char_163_hpsts {
	background-position: -360px -270px;
}
.char_164_nightm {
	background-position: -450px -270px;
}
.char_166_skfire {
	background-position: -540px -270px;
}
.char_171_bldsk {
	background-position: -630px -270px;
}
.char_172_svrash {
	background-position: -720px -270px;
}
.char_173_slchan {
	background-position: -810px -270px;
}
.char_174_slbell {
	background-position: -900px -270px;
}
.char_179_cgbird {
	background-position: -990px -270px;
}
.char_180_amgoat {
	background-position: -1080px -270px;
}
.char_181_flower {
	background-position: -1170px -270px;
}
.char_183_skgoat {
	background-position: -1260px -270px;
}
.char_185_frncat {
	background-position: 0px -360px;
}
.char_187_ccheal {
	background-position: -90px -360px;
}
.char_188_helage {
	background-position: -180px -360px;
}
.char_190_clour {
	background-position: -270px -360px;
}
.char_192_falco {
	background-position: -360px -360px;
}
.char_193_frostl {
	background-position: -450px -360px;
}
.char_195_glassb {
	background-position: -540px -360px;
}
.char_196_sunbr {
	background-position: -630px -360px;
}
.char_197_poca {
	background-position: -720px -360px;
}
.char_198_blackd {
	background-position: -810px -360px;
}
.char_199_yak {
	background-position: -900px -360px;
}
.char_2013_cerber {
	background-position: -990px -360px;
}
.char_2014_nian {
	background-position: -1080px -360px;
}
.char_2015_dusk {
	background-position: -1170px -360px;
}
.char_201_moeshd {
	background-position: -1260px -360px;
}
.char_202_demkni {
	background-position: 0px -450px;
}
.char_204_platnm {
	background-position: -90px -450px;
}
.char_208_melan {
	background-position: -180px -450px;
}
.char_209_ardign {
	background-position: -270px -450px;
}
.char_210_stward {
	background-position: -360px -450px;
}
.char_211_adnach {
	background-position: -450px -450px;
}
.char_212_ansel {
	background-position: -540px -450px;
}
.char_213_mostma {
	background-position: -630px -450px;
}
.char_214_kafka {
	background-position: -720px -450px;
}
.char_215_mantic {
	background-position: -810px -450px;
}
.char_218_cuttle {
	background-position: -900px -450px;
}
.char_219_meteo {
	background-position: -990px -450px;
}
.char_220_grani {
	background-position: -1080px -450px;
}
.char_222_bpipe {
	background-position: -1170px -450px;
}
.char_225_haak {
	background-position: -1260px -450px;
}
.char_226_hmau {
	background-position: 0px -540px;
}
.char_230_savage {
	background-position: -90px -540px;
}
.char_235_jesica {
	background-position: -180px -540px;
}
.char_236_rope {
	background-position: -270px -540px;
}
.char_237_gravel {
	background-position: -360px -540px;
}
.char_240_wyvern {
	background-position: -450px -540px;
}
.char_241_panda {
	background-position: -540px -540px;
}
.char_242_otter {
	background-position: -630px -540px;
}
.char_243_waaifu {
	background-position: -720px -540px;
}
.char_248_mgllan {
	background-position: -810px -540px;
}
.char_250_phatom {
	background-position: -900px -540px;
}
.char_252_bibeak {
	background-position: -990px -540px;
}
.char_253_greyy {
	background-position: -1080px -540px;
}
.char_254_vodfox {
	background-position: -1170px -540px;
}
.char_258_podego {
	background-position: -1260px -540px;
}
.char_260_durnar {
	background-position: 0px -630px;
}
.char_261_sddrag {
	background-position: -90px -630px;
}
.char_263_skadi {
	background-position: -180px -630px;
}
.char_264_f12yin {
	background-position: -270px -630px;
}
.char_265_sophia {
	background-position: -360px -630px;
}
.char_271_spikes {
	background-position: -450px -630px;
}
.char_272_strong {
	background-position: -540px -630px;
}
.char_274_astesi {
	background-position: -630px -630px;
}
.char_275_breeze {
	background-position: -720px -630px;
}
.char_277_sqrrel {
	background-position: -810px -630px;
}
.char_278_orchid {
	background-position: -900px -630px;
}
.char_279_excu {
	background-position: -990px -630px;
}
.char_281_popka {
	background-position: -1080px -630px;
}
.char_282_catap {
	background-position: -1170px -630px;
}
.char_283_midn {
	background-position: -1260px -630px;
}
.char_284_spot {
	background-position: 0px -720px;
}
.char_285_medic2 {
	background-position: -90px -720px;
}
.char_286_cast3 {
	background-position: -180px -720px;
}
.char_289_gyuki {
	background-position: -270px -720px;
}
.char_290_vigna {
	background-position: -360px -720px;
}
.char_291_aglina {
	background-position: -450px -720px;
}
.char_293_thorns {
	background-position: -540px -720px;
}
.char_294_ayer {
	background-position: -630px -720px;
}
.char_298_susuro {
	background-position: -720px -720px;
}
.char_301_cutter {
	background-position: -810px -720px;
}
.char_302_glaze {
	background-position: -900px -720px;
}
.char_304_zebra {
	background-position: -990px -720px;
}
.char_306_leizi {
	background-position: -1080px -720px;
}
.char_308_swire {
	background-position: -1170px -720px;
}
.char_311_mudrok {
	background-position: -1260px -720px;
}
.char_325_bison {
	background-position: 0px -810px;
}
.char_326_glacus {
	background-position: -90px -810px;
}
.char_328_cammou {
	background-position: -180px -810px;
}
.char_332_archet {
	background-position: -270px -810px;
}
.char_333_sidero {
	background-position: -360px -810px;
}
.char_336_folivo {
	background-position: -450px -810px;
}
.char_337_utage {
	background-position: -540px -810px;
}
.char_338_iris {
	background-position: -630px -810px;
}
.char_340_shwaz {
	background-position: -720px -810px;
}
.char_343_tknogi {
	background-position: -810px -810px;
}
.char_344_beewax {
	background-position: -900px -810px;
}
.char_345_folnic {
	background-position: -990px -810px;
}
.char_346_aosta {
	background-position: -1080px -810px;
}
.char_347_jaksel {
	background-position: -1170px -810px;
}
.char_348_ceylon {
	background-position: -1260px -810px;
}
.char_349_chiave {
	background-position: 0px -900px;
}
.char_350_surtr {
	background-position: -90px -900px;
}
.char_355_ethan {
	background-position: -180px -900px;
}
.char_356_broca {
	background-position: -270px -900px;
}
.char_358_lisa {
	background-position: -360px -900px;
}
.char_362_saga {
	background-position: -450px -900px;
}
.char_363_toddi {
	background-position: -540px -900px;
}
.char_365_aprl {
	background-position: -630px -900px;
}
.char_366_acdrop {
	background-position: -720px -900px;
}
.char_367_swllow {
	background-position: -810px -900px;
}
.char_369_bena {
	background-position: -900px -900px;
}
.char_373_lionhd {
	background-position: -990px -900px;
}
.char_376_therex {
	background-position: -1080px -900px;
}
.char_378_asbest {
	background-position: -1170px -900px;
}
.char_379_sesa {
	background-position: -1260px -900px;
}
.char_381_bubble {
	background-position: 0px -990px;
}
.char_383_snsant {
	background-position: -90px -990px;
}
.char_385_finlpp {
	background-position: -180px -990px;
}
.char_388_mint {
	background-position: -270px -990px;
}
.char_391_rosmon {
	background-position: -360px -990px;
}
.char_400_weedy {
	background-position: -450px -990px;
}
.char_401_elysm {
	background-position: -540px -990px;
}
.char_402_tuye {
	background-position: -630px -990px;
}
.char_405_absin {
	background-position: -720px -990px;
}
.char_411_tomimi {
	background-position: -810px -990px;
}
.char_415_flint {
	background-position: -900px -990px;
}
.char_416_zumama {
	background-position: -990px -990px;
}
.char_421_crow {
	background-position: -1080px -990px;
}
.char_423_blemsh {
	background-position: -1170px -990px;
}
.char_426_billro {
	background-position: -1260px -990px;
}
.char_436_whispr {
	background-position: 0px -1080px;
}
.char_437_mizuki {
	background-position: -90px -1080px;
}
.char_440_pinecn {
	background-position: -180px -1080px;
}
.char_451_robin {
	background-position: -270px -1080px;
}
.char_452_bstalk {
	background-position: -360px -1080px;
}
.char_455_nothin {
	background-position: -450px -1080px;
}
.char_456_ash {
	background-position: -540px -1080px;
}
.char_457_blitz {
	background-position: -630px -1080px;
}
.char_458_rfrost {
	background-position: -720px -1080px;
}
.char_459_tachak {
	background-position: -810px -1080px;
}
.char_469_indigo {
	background-position: -900px -1080px;
}
.char_472_pasngr {
	background-position: -990px -1080px;
}
.char_474_glady {
	background-position: -1080px -1080px;
}
.char_475_akafyu {
	background-position: -1170px -1080px;
}
.char_478_kirara {
	background-position: -1260px -1080px;
}
.char_485_pallas {
	background-position: 0px -1170px;
}
.char_486_takila {
	background-position: -90px -1170px;
}
.char_500_noirc {
	background-position: -180px -1170px;
}
.char_501_durin {
	background-position: -270px -1170px;
}
.char_502_nblade {
	background-position: -360px -1170px;
}
.char_503_rang {
	background-position: -450px -1170px;
}
